body{
    margin: 0;
    background-color: #fafafa;
}
nav{
    background-color: #fefefe;
    height: 3.3em;
    line-height: 3.3rem;
    padding: 0 13.5em;
    border: 0.1px solid #DBDBDB;
} 

.logo{
    text-decoration: none;
}

.logo>img{
    vertical-align: middle;
}

.search{
    background-color: #FAFAFA;
    margin-left: 19em;
    height: 1.9em;
    width: 15.5em;
    border: 1px solid #DBDBDB;
}

.search::placeholder{
    text-align: center;
}

.nav-link{
    margin-left: 8em;
}

.nav-link>a{
    margin-left: 1em;
}