body{
    margin: 0;
    background-color: #fafafa;
}
nav{
    background-color: #fefefe;
    height: 3.3em;
    line-height: 3.3rem;
    padding: 0 13.5em;
    border: 0.1px solid #DBDBDB;
} 

.logo{
    
}